@use './partials/mixins' as *;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/comics";

* {
    @include reset;
}


.my-container {
    width: 70%;
    margin: 0 auto;
}


