@use './partials/mixins' as *;

// @import "../../node_modules/bootstrap/scss/bootstrap";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/comics";

* {
    @include reset;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.my-container {
    width: 70%;
    margin: 0 auto;
}


