@use './mixins' as *;

main {
    background-color: rgb(28, 28, 28);
    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0;
        h4 {
            color: white;
        }
        article {
            width: calc((100% / 6) - 2rem);
            margin-right: 1rem;
            color: white;
            margin-bottom: 2rem;
            .card-logo {
                width: 100%;
                height: 100px;
                margin-bottom: 1rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            };
            p {
                text-transform: uppercase;
                font-size: .7rem;
            }
        }
    }
} 